<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <ion-card *ngFor="let arte of artes" >
    <img alt="Silhouette of mountains" src= "{{ arte['primaryimageurl']}}" />
    <ion-card-header>
      <ion-card-title>{{ arte['title']}} </ion-card-title>
      <ion-card-subtitle>{{arte['classification']}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Criada usando a técnica: {{arte['technique']}} no século: {{arte['century']}}.    </ion-card-content>
  </ion-card>


</ion-content>
